.slider {
  width: 685px;
  height: 377px;
  margin: 1px auto;
  .swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #444;

    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .swiper-button-next,
  .swiper-button-prev {
    width: 30px;
    height: 30px;
    background-color: #e0e0e0;
    border: 1px solid #bdbdbd;
    border-radius: 6px;
    color: #555;
    transition: all 0.3s ease;
  }

  .swiper-button-next:hover,
  .swiper-button-prev:hover {
    background-color: #cfcfcf;
    color: #222;
  }

  .swiper-button-next::after,
  .swiper-button-prev::after {
    font-size: 10px;
    font-weight: bold;
  }
}
