@import "tailwindcss";
@plugin "daisyui";

@font-face {
  font-family: "iranyekanmedium";
  src: url("/fonts/IRANYekanWeb-Medium.woff2") format("woff2"),
    url("/fonts/IRANYekanWeb-Medium.woff") format("woff"),
    url("/fonts/IRANYekanWeb-Medium.ttf") format("truetype"),
    url("/fonts/IRANYekanWeb-Medium.eot") format("embedded-opentype");
}

@font-face {
  font-family: 'yekan';
  src: url('/fonts/YekanBakhFaNum-Regular.woff2') format('woff2'),
       url('/fonts/YekanBakhFaNum-Regular.woff') format('woff'),
       url('/fonts/YekanBakhFaNum-Regular.ttf') format('truetype'),
       url('/fonts/YekanBakhFaNum-Regular.eot') format('embedded-opentype');
  
}
:root {
    --font-family: iranyekanmedium;
  }
 
  .borderRedText + div {
  color: red !important;
}
.borderRed {
  border: 1px solid red;
}

@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  60% {
    opacity: 1;
    transform: translateY(-5px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slideUp {
  animation: slideUp 0.6s ease-out;
}